# Kafka
KAFKA_TOPIC=iot-sensors-topic
KAFKA_SERVER=kafka_broker:29092

# MongoDB
MONGO_URL=mongodb://mongodb:27017
DB_NAME=iot_city
COLLECTION=sensor_analytics
RAW_COLLECTION=raw_sensor_data

# Realtime Gateway / Flask
FLASK_SECRET_KEY=replace_this_with_a_secure_random_hash

# Dashboard
VITE_REFRESH_INTERVAL=5000

# Spark
PYTHONUNBUFFERED=1
